* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f9fa;
}

/* El truco: Medidas mucho más grandes que el calendario real */
#scrollable-content {
    width: 4000px;
    height: 4000px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    pointer-events: auto; /* Mantiene los enlaces activos para que funcionen con un toque */
}
